<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input name="name" placeholder="Enter your name">
        <input name="password" placeholder="Enter your password" type="password">
        <button type="submit">Sign up</button>
    </form>
    <button onclick="login(event)">Login</button>
    <script>
        function login(event){
            event.preventDefault();
            window.location='/login'
        }
    </script>
</body>
</html>